:root {
  --font-primary: 'Noto Sans KR', sans-serif;
}

body {
  font-family: var(--font-primary);
}

/* 헤더 스타일 */
.headerMenu {
  background: var(--F5F5F5, #F5F5F5);
}

.headerMenu ul {
  display: flex;
  justify-content: flex-end;
  line-height: 36px;
}

.headerMenu li::after {
  content: "|";
  margin: 0 10px;
}

.headerMenu li:last-child::after {
  content: "";
}

/* 내비게이션 */
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-white);
}

.logo img {
  width: 60px;
}

/* 내비게이션 링크 */
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-black);
  font-weight: medium;
  line-height: 28px;
}

.nav-links li a:hover {
  color: var(--color-primary);
}

/* 검색 및 장바구니 아이콘 */
.search-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* 검색창 스타일 */
.search-box {
  position: relative;
}

.search-box input {
  width: 180px;
  padding: 10px 40px;
  border-radius: 50px;
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-gray-100);
  font-size: 1.4rem;
}

.search-box .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-box .search-icon img {
  width: 20px;
  height: 20px;
}

/* 아이콘 스타일 */
.icon {
  display: flex;
  align-items: center;
}

.icon img {
  width: 24px;
  height: 24px;
}

.hidden {
  display: none;
}


/*✨메뉴 사이드바*/
/*✨ 메뉴 아이콘 클릭 시 나오는 사이드 메뉴 */
#menu-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px; /* 너비 300px */
  height: 100vh; /* 화면 전체 높이 */
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  transform: translateX(100%); /* 기본 상태에서는 오른쪽으로 숨김 */
  z-index: 1000; /* 헤더보다 위에 위치 */
  padding: 20px;
}

/* 메뉴 사이드바가 활성화되면 화면에 표시 */
#menu-sidebar.active {
  transform: translateX(0);
  
}

.menu-button{
  display: inline;
  margin-left: 42px;
  margin-bottom: 40px;
}
.access{
  width: 91px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}
.login{
  width: 77px;
  height: 40px;
  cursor: pointer;
}

/* 닫기 버튼 스타일 */
.close-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #E5E5E5;
  border-radius: 50%;

}

.next-btn{
  align-items: flex-end;
  text-align: end;
  right: 20px;
  position: absolute;
  cursor: pointer;
  
}

/* 사이드바 내 링크 스타일 */
#menu-sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

#menu-sidebar ul li {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: auto;
}

#menu-sidebar ul li a {
  text-decoration: none;
  font-size: 24px;
  color: var(--color-black);
  font-weight: medium;
  line-height: 28px;
}

.menu-icons{
  margin-top: 48px;
  margin-left: 39px;
  display: inline;
  
}
.menu-icon{
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.menu-icons ul li a{
  text-decoration: none;
  font-size: 16px;
  color: var(--color-black);
  font-weight: medium;
  line-height: 28px;
}



/* 메인 */
#main {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 58px 20px;
}

/* sec1 */
.sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sec1-img {
  width: fit-content;
}

.sec1 h3 {
  line-height: 72px;
  font-weight: bold;
  margin-top: 36px;
  font-size: 3.75rem;
}

.sec1 p {
  margin-top: 8px;
  font-size: 16px;
}

.sec1-icon img {
  width: 110px;
  height: 40px;
  margin-top: 24px;
}

/* sec2 */
.sec2 {
  margin-top: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sec2 h2 {
  margin-left: 0;
  margin-right: auto;
  line-height: 48px;
  margin-bottom: 24px;
  font-size: 32px;
}

.sec2 ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.sec2 li {
  position: relative;
  overflow: hidden;
}

.sec2 img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: block;
  height: auto;
  max-width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: baseline;
  color: white;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.sec2 li:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay p {
  margin-bottom: 1rem;
  margin-left: 2rem;
  font-size: 1rem;
}

.overlay a.overlay-link {
  margin-bottom: 2rem;
  margin-left: 2rem;
  width: 5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align: center;
  display: block;
  padding: 0.3rem 0;
  background-color: white;
  color: black;
  font-family: var(--font-primary);
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

/* sec3 */
.sec3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 84px;
}

.sec3-img {
  width: fit-content;
}

.sec3 h5 {
  line-height: 28px;
  margin-top: 36px;
  font-size: 16px;
}

.sec3 h3 {
  line-height: 72px;
  font-weight: bold;
  margin-top: 8px;
  font-size: 60px;
}

.sec3 p {
  margin-top: 8px;
  font-size: 16px;
}

.sec3-icon img {
  width: 110px;
  height: 40px;
  margin-top: 24px;
}

/* 푸터 */
#footer {
  margin: 50px;
  padding: 50px 0;
  border-top: 1px solid #E5E5E5;
  font-size: 14px;
}

.footer-layout {
  display: flex;
  gap: 100px;
  margin-bottom: 100px;
}
.footer-tab {
  width: 30%;
  }
  
  .footer-drop {
  display: flex;
  position: relative;
  }
  
  .footer-title {
  flex-grow: 1;
  }
  
  .drop-icon,
  .drop-icon-about,
  .drop-icon-order {
  display: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  }
  
  .up-icon,
  .up-icon-about,
  .up-icon-order {
  display: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  }
  
  .drop-container,
  .drop-container-order,
  .drop-container-about {
  display: block;
  }
  
  .footer-rights p,
  .footer-rights a {
  display: inline;
  margin-right: 24px;
  }
  
  .footer-rights {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 72px;
  margin-bottom: 24px;
  }
  
  #footer h4 {
  font-weight: bold;
  margin-bottom: 30px;
  }
  
  #footer li {
  margin-bottom: 12px;
  line-height: 24.5px;
  color: #707072;
  }

/* 미디어 쿼리 (모바일) */
@media (max-width: 768px) {
  .l_wrapper {
    padding: 10px;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  .hidden {
    display: block;
  }
  
  .search-box,
  .nav-links,
  .heart {
    display: none;
  }
  
  #main {
    align-items: left;
    justify-content: left;
    padding: 58px 20px;
  }
  
  .sec1,
  .sec3 {
    align-items: flex-start;
  }
  
  .sec1 h3,
  .sec1 p,
  .sec3 h5,
  .sec3 h3,
  .sec3 p {
    text-align: left;
  }
  
  .sec1-icon img,
  .sec3-icon img {
    margin-left: 0;
  }
  
  .sec2 ul {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
  }
  
  .sec2 li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .hidden {
    display: block;
  }

  .nav-links menu-nav{
    display: none; /* 작은 화면에서는 기존 내비게이션 링크 숨기기 */
  }


  /*푸터*/
  #footer {
    border: 0;
    margin: 20px;
    padding: 20px 0;
  }
  
  #footer h4 {
    margin-bottom: 0;
  }
  
  .footer-layout {
    flex-direction: column;
    margin-bottom: 64px;
    gap: 0px;
  }
  
  .footer-tab {
    width: 100%;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer-tab:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .footer-drop {
    margin: 20px 0;
  }
  
  .drop-icon,
  .drop-icon-about,
  .drop-icon-order {
    display: none;
  }
  
  .up-icon,
  .up-icon-about,
  .up-icon-order {
    display: block;
  }
  
  .footer-rights {
    border-bottom: none;
    padding-bottom: 64px;
    margin-bottom: 23px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .footer-rights p,
  .footer-rights a {
    display: block;
    margin-right: 0;
    margin-bottom: 8px;
    color: var(--color-gray-500);
  }
  
  #footer div:last-of-type p {
    font-size: 12px;
    line-height: 2.2;
    text-align: left;
    word-break: normal;
    color: var(--color-gray-500);
  }
  }