@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
body,
ul,
p {
  margin: unset;
  padding: unset;
}

li {
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
  font-weight: unset;
}

img {
  max-width: 100%;
  vertical-align: top;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: content-box;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}

/* CSS Variables */
:root {
  /* Typography */
  font-family: 'Noto Sans KR', 'Arial Bold', 'Helvetica Now Text';
  font-size: 62.5%;
  color: var(--color-black);

  /* Colors */
  --color-black: #111;
  --color-white: #fff;
  --color-primary: #9e3500;
  --color-secondary: #007d48;
  --color-dim: rgba(17, 17, 17, 0.35);
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #cacaca;
  --color-gray-400: #9e9ea0;
  --color-gray-500: #707072;
}

body {
  margin: 0;
  min-width: 360px;
  min-height: 100vh;
  font-size: 1.6rem;
}

#app {
  max-width: 1920px;
  margin: 0 auto;
}
.product-list-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.is_mobile {
  display: none;
}

/* list-header */
header.list-header {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  padding: 8px 48px 15px;
  margin-bottom: 15px;
  background-color: var(--color-white);

  & .title {
    flex-grow: 1;
    font-size: 2.4rem;
    font-weight: 500;
  }

  & .nav {
    display: flex;
  }
}
button.filter-toggle,
button.sort-toggle {
  margin-left: 25px;
  display: flex;
  position: relative;

  & span {
    margin-right: 8px;
    line-height: 2.8rem;
  }
}
.droptown-wrapper {
  position: relative;
}
.dropdown__options-list {
  visibility: hidden;
  &.active {
    visibility: visible;
  }
  position: absolute;
  top: 100%;
  right: 0;

  display: flex;
  flex-direction: column;
  padding: 24px 0 15px 0;
  align-items: stretch;

  border-radius: 20px;
  background: var(--FFFFFF, #fff);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;

  & button {
    flex-grow: 1;
    display: block;
    padding: 0 24px;
    text-align: right;
    white-space: nowrap;
    line-height: 2.8rem;

    &:hover {
      color: var(--color-gray-500);
    }
  }
}

main.result-container {
  display: flex;
}

aside.sidebar {
  width: 260px;
  padding: 0 24px 0 48px;
  margin-left: -260px;

  position: sticky;
  left: -260px;
  transition:
    margin-left 0.3s,
    left 0.3s;
  &.active {
    margin-left: 0;
    left: 0;
  }
}
.category-select {
  padding-bottom: 40px;
}

.category-select .category {
  font-weight: 500;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.35em;
  padding: 0 1.1em 10px 0;
  margin-left: 4px;
}

/* Product */
ul.product-list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 0 48px 0 40px;

  & .product-item {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
  }
}
.product-image img {
  width: 100%;
  height: auto;
}
.product-info {
  padding: 12px 0 25px;
  font-weight: 500;
  line-height: 2.4rem;

  & .isNew {
    color: var(--color-primary);
  }

  & .product-card_subtitle,
  .product-count {
    font-weight: 400;
    color: var(--color-gray-500);
  }

  & .product-price {
    margin-top: 10px;
  }
}

@media screen and (max-width: 960px) {
  aside.sidebar,
  header.list-header .nav,
  header.list-header .result-count {
    display: none;
  }
  .is_mobile {
    display: block;
  }
  .result-count {
    color: var(--color-gray-500);
  }

  header.list-header {
    padding: 8px 20px;
    & .title {
      font-size: 2rem;
    }
  }

  .is_mobile .category-select {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 14px;
    border-bottom: 1px solid var(--color-gray-200);
    overflow-x: auto;

    & .category {
      padding: 0 16px;
      white-space: nowrap;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .subheading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    padding: 0 20px;

    & button.filter-toggle {
      height: 25px;
      padding: 6px 20px;
      border-radius: 30px;
      border: 1.5px solid var(--color-gray-300);
    }
  }
  .sidebar-mobile-wrapper {
    position: fixed;
    inset: 0;
    z-index: 100;
    transition: transform 0.3s;
    transform: translateY(100%);
    background-color: var(--color-white);
    &.active {
      transform: translateY(0);
    }
  }
  .sidebar-mobile {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    overflow-y: auto;

    & .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px;
    }
    & .sidebar-header {
      padding: 36px 0 20px;
    }
    & .selection-list input {
      visibility: hidden;
    }
  }
  .radio-item {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 12px 0;
    line-height: 2.8rem;
  }
  & .sort-input {
    width: 24px;
    height: 24px;
    position: relative;
    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s;
    }
    & .unchecked {
      opacity: 1;
    }
    & .checked {
      opacity: 0;
    }
    &:has(:checked) {
      & .unchecked {
        opacity: 0;
      }
      & .checked {
        opacity: 1;
      }
    }
  }

  ul.product-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;

    & .product-item {
      margin-bottom: 18px;
      &:nth-child(odd) {
        padding-left: 0;
        padding-right: 3px;
      }
      &:nth-child(even) {
        padding-right: 0;
        padding-left: 3px;
      }
    }
    & .product-info {
      padding: 12px 12px 0;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}
