body {
  font-family: var(--font-primary);
}

:root {
  --font-primary: 'Noto Sans KR', sans-serif;
}



/* header 가장 위     css */
.headerMenu {
  background: var(--F5F5F5, #F5F5F5);
}

.headerMenu ul {
  display: flex;
  justify-content: flex-end; 
  line-height: 36px;
}

.headerMenu li::after {
  content: "|";
  display: inline;
  margin: 0 10px;
}

.headerMenu li:last-child::after {
  content: "";
}

/* 헤더 아래부분*/
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-white); 
}

.logo img {
  width: 60px; 
}

/* 메뉴 링크 스타일 */
.nav-links {
  display: flex;
  gap: 20px; 
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-black);
  font-weight: medium;
  line-height: 28px;

}

.nav-links li a:hover {
  color: var(--color-primary); /* 마우스 올렸을 때 색상 변화 */
}

/* 검색 및 장바구니 아이콘 */
.search-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* 검색창 스타일 */
.search-box {
  position: relative;
}

.search-box input {

  width: 180px;
  padding: 10px 40px;
  border-radius: 50px;
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-gray-100);
  font-size: 1.4rem;
}

.search-box .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-box .search-icon img {
  width: 20px;
  height: 20px;
}

/* 아이콘 스타일 */
.icon {
  display: flex;
  align-items: center;
}

.icon img {
  width: 24px;
  height: 24px;
}
.hidden{
  display: none;
}


/* ✨메뉴 */
.menu-hidden {
  display: none; /* 기본적으로 메뉴를 숨김 */
  width: 500px;
  height: 100vh;
}

.menu-visible {
  display: block; /* 메뉴가 보일 때 */
}



/*✨메뉴 사이드바*/
/*✨ 메뉴 아이콘 클릭 시 나오는 사이드 메뉴 */
#menu-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px; /* 너비 300px */
  height: 100vh; /* 화면 전체 높이 */
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  transform: translateX(100%); /* 기본 상태에서는 오른쪽으로 숨김 */
  z-index: 1000; /* 헤더보다 위에 위치 */
  padding: 20px;
}

/* 메뉴 사이드바가 활성화되면 화면에 표시 */
#menu-sidebar.active {
  transform: translateX(0);
  
}

.menu-button{
  display: inline;
  margin-left: 42px;
  margin-bottom: 40px;
}
.access{
  width: 91px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}
.login{
  width: 77px;
  height: 40px;
  cursor: pointer;
}

/* 닫기 버튼 스타일 */
.close-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #E5E5E5;
  border-radius: 50%;

}

.next-btn{
  align-items: flex-end;
  text-align: end;
  right: 20px;
  position: absolute;
  cursor: pointer;
  
}

/* 사이드바 내 링크 스타일 */
#menu-sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

#menu-sidebar ul li {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: auto;
}

#menu-sidebar ul li a {
  text-decoration: none;
  font-size: 24px;
  color: var(--color-black);
  font-weight: medium;
  line-height: 28px;
}

.menu-icons{
  margin-top: 48px;
  margin-left: 39px;
  display: inline;
  
}
.menu-icon{
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.menu-icons ul li a{
  text-decoration: none;
  font-size: 16px;
  color: var(--color-black);
  font-weight: medium;
  line-height: 28px;
}


/* ✨메인 */
#main {
  min-height: 200px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  
}

.select-tap{
  display: none;
}

.sidebar{
  padding-left: 32px;

  width: 100%;
  height: 100%;
  margin-top: 44px;


}

.sidebar h1{
  line-height: 36px;
  font-size: 24px;
  font-weight: bold;

}

/* 검색창 스타일 */

.search-map{
  margin-top: 30px;
}
.search-map-box {
  position: relative;
}

.search-map-box input {
   width: fit-content;
  padding: 10px 40px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-white);
  font-size: 1.4rem;
}

.search-map-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-map-box .search-map-icon img {
  width: 20px;
  height: 20px;
}

.search-map p{
  margin-top: 30px;;
  font-size: 14px;
  line-height: 15px;
  color: #707072;
}


/*🃏card*/
.card-container{
  margin-top: 25px;
}

.card{
  box-sizing: border-box;
  min-width: 640px;
  height: 164px;
  padding : 28px 0px;
  border-bottom: 1px solid #E5E5E5;

}

.card h3{
  font-size: 16px;
}

.card p{
  color: #707072;
  font-size: 16px;

}







/*map*/
.map{
  background-color: white;
  border: 1px solid yellowgreen;
  height: 100%;
  width: 100%;

}
.map img{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat; /
}


/* 푸터 */
#footer {
  margin: 50px;
  padding: 50px 0;
  border-top: 1px solid #E5E5E5;
  font-size: 14px;
}

.footer-layout {
  display: flex;
  gap: 100px;
  margin-bottom: 100px;
}
.footer-tab {
  width: 30%;
  }
  
  .footer-drop {
  display: flex;
  position: relative;
  }
  
  .footer-title {
  flex-grow: 1;
  }
  
  .drop-icon,
  .drop-icon-about,
  .drop-icon-order {
  display: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  }
  
  .up-icon,
  .up-icon-about,
  .up-icon-order {
  display: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  }
  
  .drop-container,
  .drop-container-order,
  .drop-container-about {
  display: block;
  }
  
  .footer-rights p,
  .footer-rights a {
  display: inline;
  margin-right: 24px;
  }
  
  .footer-rights {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 72px;
  margin-bottom: 24px;
  }
  
  #footer h4 {
  font-weight: bold;
  margin-bottom: 30px;
  }
  
  #footer li {
  margin-bottom: 12px;
  line-height: 24.5px;
  color: #707072;
  }

@media (max-width: 768px) {
  .l_wrapper {
    padding: 10px; /* 작은 화면에서 패딩 조정 */
  }

  h1 {
    font-size: 1.5em; /* 작은 화면에서 글자 크기 조정 */
  }

  .hidden{
    display: block;
  }
  .search-box{
    display: none;
  }
  .nav-links{
    display: none;
  }
  .heart{
    display: none;
  }


  
/* ✨메인 */
#main {
  min-height: 200px;

  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  
}

.select-tap{
  display: none;
  margin-top: 52px;
  
}
.select-tap a{
  font-size: 17px;
}


/* 검색창 스타일 */

.search-map{
  margin-top: 44px;
}
.search-map-box {
  position: relative;
}

.search-map-box input {
  width: 180px;
  padding: 10px 40px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-white);
  font-size: 1.4rem;
}

.search-box-map .search-map-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-map-box .search-map-icon img {
  width: 20px;
  height: 20px;
}

.search-map-box p{
  margin-top: 28px;
  font-size: 14px;
  line-height: 15px;
  color: #707072;
}


/*🃏card*/
.card-container{
  display: none;
}

/* .card{
  box-sizing: border-box;
  min-width: 640px;
  height: 164px;
  padding : 28px 0px;
  border-bottom: 1px solid #E5E5E5;

}

.card h3{
  font-size: 16px;
}

.card p{
  color: #707072;
  font-size: 16px;

} */

  
/*map*/
.map{
  margin-top: 100px;
  background-color: white;
  margin-bottom: 100px;
  
  

}
.map img{
  width: 700px;
  aspect-ratio: 360/324;  

}

/*푸터*/
  #footer {
    border: 0;
    margin: 20px;
    padding: 20px 0;
  }
  
  #footer h4 {
    margin-bottom: 0;
  }
  
  .footer-layout {
    flex-direction: column;
    margin-bottom: 64px;
    gap: 0px;
  }
  
  .footer-tab {
    width: 100%;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer-tab:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .footer-drop {
    margin: 20px 0;
  }
  
  .drop-icon,
  .drop-icon-about,
  .drop-icon-order {
    display: none;
  }
  
  .up-icon,
  .up-icon-about,
  .up-icon-order {
    display: block;
  }
  
  .footer-rights {
    border-bottom: none;
    padding-bottom: 64px;
    margin-bottom: 23px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .footer-rights p,
  .footer-rights a {
    display: block;
    margin-right: 0;
    margin-bottom: 8px;
    color: var(--color-gray-500);
  }
  
  #footer div:last-of-type p {
    font-size: 12px;
    line-height: 2.2;
    text-align: left;
    word-break: normal;
    color: var(--color-gray-500);
  }
}