<header>
  <div class="headerMenu">
    <ul>
      <li><a href="/src/pages/stores/index.html">매장 찾기</a></li>
      <li><a href="#">고객 센터</a></li>
      <li class="user-login"><a href="/src/pages/auth/login.html">가입하기</a></li>
      <li class="user-login user-line"><a href="/src/pages/auth/login.html">로그인</a></li>
      <li class="user-out user-name social-name"><a href="/src/pages/auth/login.html"></a></li>
      <li class="user-out log-out"><a href="/src/pages/auth/login.html">로그아웃</a></li>
    </ul>
  </div>
  <nav id="nav">
    <a href="/src/pages/MainHome/home.html" class="logo">
      <img src="/assets/icons/logo/nike.svg" alt="나이키 로고" id="logo" />
    </a>
    <ul class="nav-links">
      <li><a href="/src/pages/product/list/index.html">New & Featured</a></li>
      <li>
        <a href="/src/pages/product/list/index.html?category=PC01-PC0102">Men</a>
      </li>
      <li>
        <a href="/src/pages/product/list/index.html?category=PC02-PC0201">Women</a>
      </li>
      <li>
        <a href="/src/pages/product/list/index.html?category=PC03-PC0301">Kids</a>
      </li>
      <li><a href="/src/pages/product/list/index.html">Sale</a></li>
    </ul>
    <div class="search-cart">
      <div class="search-box">
        <input type="text" placeholder="검색" />
        <span class="search-icon">
          <img src="/assets/icons/button36px/search.svg" alt="돋보기 아이콘" />
        </span>
      </div>

      <span class="icon mobile-header">
        <img src="/assets/icons/button36px/search.svg" alt="돋보기 아이콘" />
      </span>
      <a href="#" class="icon mobile-heade">
        <img src="/assets/icons/button36px/profile.svg" alt="프로필 아이콘" />
      </a>
      <a href="#" class="icon heart">
        <img src="/assets/icons/button36px/white-heart.svg" alt="하트 아이콘" />
      </a>
      <a href="/src/pages/cart/cart.html" class="icon cart">
        <img src="/assets/icons/button36px/cart-36.svg" alt="장바구니 아이콘" />
      </a>
      <button class="icon mobile-heade" id="menu-icon">
        <img src="/assets/icons/button36px/menu.svg" alt="메뉴 아이콘" />
      </button>
    </div>
  </nav>

  <!--✨메뉴 사이드바-->
  <div id="menu-side">
    <!-- X 닫기 버튼 -->
    <img src="/assets/icons/buttons/s-x.svg" alt="닫기 아이콘" class="close-btn" />

    <ul>
      <li class="menu-line">
        <a href="/src/pages/auth/login.html"><img class="mobile-login" src="/assets/icons/button/Button-signup.svg"
            alt="가입버튼" class="access" /></a>
        <a href="/src/pages/auth/login.html"><img class="mobile-login login-button"
            src="/assets/icons/button/Button-login.svg" alt="로그인버튼" class="login" /></a>
      </li>
      <li>
        <a href="#">
          New & Featured
          <img src="/assets/icons/button36px/next.svg" class="next-btn" />
        </a>
      </li>
      <li>
        <a href="#">
          Men
          <img src="/assets/icons/button36px/next.svg" class="next-btn" />
        </a>
      </li>
      <li>
        <a href="#">
          Women
          <img src="/assets/icons/button36px/next.svg" class="next-btn" />
        </a>
      </li>
      <li>
        <a href="#">
          Kids
          <img src="/assets/icons/button36px/next.svg" class="next-btn" />
        </a>
      </li>
      <li>
        <a href="#">
          Sale
          <img src="/assets/icons/button36px/next.svg" class="next-btn" />
        </a>
      </li>

      <ul class="menu-icons">
        <li>
          <a href="#">
            <img src="/assets/icons/button24px/question.svg" alt="고객센터 아이콘" class="menu-icon" />
            고객센터
          </a>
        </li>
        <li>
          <a href="/src/pages/cart/cart.html">
            <img src="/assets/icons/button24px/cart-24.svg" alt="장바구니 아이콘" class="menu-icon" />
            장바구니
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/icons/button24px/order.svg" alt="주문 아이콘" class="menu-icon" />
            주문
          </a>
        </li>
        <li>
          <a href="/src/pages/FindStore/FindStore.html">
            <img src="/assets/icons/button24px/store.svg" alt="위치 아이콘" class="menu-icon" />
            매장찾기
          </a>

        </li>
        <a href="/src/pages/auth/login.html"><img class="mobile-logout" src="/assets/icons/button/Button-logout.svg"
            alt="로그아웃버튼" class="logout" /></a>
      </ul>
    </ul>
  </div>
</header>