body {
  margin: 0;
  background-color: #fff;
  color: #111;
}

h1,
h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}

.main-layout {
  max-width: 1100px;
  margin: 40px auto;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 40px;
}

#cart-items {
  width: 100%;
}

#order-summary {
  width: 35%;
  margin-right: 30px;
  max-width: 350px;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}

.cart-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.item-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-option {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.item-price {
  font-size: 16px;
  font-weight: bold;
}

.item-details .item-header {
  display: flex;
  justify-content: space-between; /* 좌우 정렬 */
  align-items: center;
}

.quantity-control {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
}

.quantity-control button {
  border: 1px solid inherit;
  font-size: 16px;
  cursor: pointer;
}

.quantity-control input {
  width: 30px;
  text-align: center;
  border: 1px solid #fff;
  margin-left: 10px;
}

.item-actions {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.item-size,
.quantity-control {
  display: inline-block;
  margin-right: 20px;
}

.remove-item,
.add-to-wishlist {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 15px;
  color: #666;
}

.order-details {
  padding: 20px 0;
  border-radius: 4px;
}

.order-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  font-size: 18px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e5e5e5;
}

#order-button {
  width: 100%;
  padding: 15px;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}

.delivery-info {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.wishlist-container {
  margin-top: 40px;
}

#wishlist-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* 왼쪽 정렬 */
  gap: 20px; /* 아이템 간 간격 */
}

.wishlist-item {
  flex: 0 0 48%; /* 각 아이템이 50% 공간을 차지하도록 */
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
}

.wishlist-item img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.add-to-cart-button {
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #111;
  border-radius: 4px;
  cursor: pointer;
}

.see-more {
  display: inline-block;
  margin-top: 20px;
  color: #111;
  text-decoration: none;
  font-size: 14px;
}

.button-class {
  border: none;
  outline: none;
  background-color: inherit;
}

.delivery-info {
  color: #111;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 100px;
  border-bottom: 1px solid #e5e5e5;
}

/* 첫째 줄: 배송료 정보 */
.shipping-fee {
  font-weight: bold; /* 배송료 정보는 볼드체 */
}

/* 둘째 줄: 도착 예정일, 지역 수정 */
.delivery-details {
  display: flex;
  gap: 10px;
}

.region-edit a {
  text-decoration: underline; /* 밑줄 효과 */
  font-weight: bold; /* 볼드체 */
}

/* 미디어 쿼리 */
/* 미디어 쿼리: 화면이 768px 이하로 줄어들면 세로 정렬로 변경 */
@media (max-width: 768px) {
  .main-layout {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
  }

  .cart-container {
    display: block;
  }

  #order-button {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  .item-details .item-header {
    display: block;
  }

  #cart-items {
    width: 80%;
  }
}
